* {
  margin: 0;
  padding: 0;
}

body
{
 font-family: 'Maven Pro',sans-serif;
 background:black;
}

#video_section
{
    position: relative;
    width: 100%;
    text-align: center;
    height:510px;
}

video
{
position:absolute;
z-index: -10;
top:0;
left:0;
margin-bottom:1em;
}

#link_back {
    color: #ffffff;
    left: 5%;
    opacity: 0.8;
    position: absolute;
    text-decoration: none;
    top: 5px;
	z-index: 5;
	font-size:20px;
}

#level_section
{
    background: black;
    height: 500px;
    position: relative;
    width: 100%;
}

#gallery_section
{
    background: black;
    height: 1280px;
    position: relative;
    width: 100%;
}	

#notes_section {
   background: black;
    height: 400px;
    position: relative;
    width: 100%;
}

#footer {
    background: url("http://s.aeriastatic.com/files/portal/image/L/LP_footer_pattern.png") repeat-x scroll center top #000000;
    display: block;
    height: 200px;
    line-height: 5px;
    margin: auto;
    overflow: visible;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#button_play {
    background: linear-gradient(to bottom, #808080 0%, #a6a6a6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #404040;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 10px #000000;
    color: #ffffff;
    height: 50px;
    position: absolute;
    right: 60px;
    text-align: center;
    top: 1em;
    width: 170px;
    z-index: 100;
}


p
{
 font-family: 'Maven Pro',sans-serif;
 color: #ffffff;
    font-size: 22px;
    line-height: 20px;
}


.nav p , .button p{
    text-shadow: 1px 2px 2px #000000;
	margin-top: 22px
}

#button_play p, .nav p
{
    font-family: 'Maven Pro',sans-serif;
}


#patch_title {
    color: #ffffff;
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
    padding-top:1em;
    text-shadow: 2px 2px 6px #000000, 4px 5px 20px #224585;
    margin-left: auto;
    margin-right: auto;
}
.undertitle
{
    color: #1affff;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 2px 2px 6px #000000, 4px 5px 20px #224585;
}
#undertitle_2
{
    color: #ffffff;
    font-size: 2em;
    margin-top:1em;
}
a
{
text-decoration:none;
}
 
#p1_text2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-top: 45px;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 6px #000000, 4px 5px 20px #224585;
}

.p_titel {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 35px;
    padding-top: 25px;
    text-align: center;
    text-shadow: 2px 2px 6px #000000, 4px 5px 20px #224585;
}

#p2_pic1 {
    background-image: url("img/level100.png");
    margin-top: 35px;
}
.p2_pic {
    height: 300px;
    width: 425px;
}
.pic {
    background-clip: padding-box;
    border: 10px solid rgba(255, 255, 255, 0.5);
    left: 50%;
    margin-left: -400px;
    position: relative;
}

.p_text {
    color: #ffffff;
    font-size: 24px;
    height: 150px;
    text-shadow: 0 2px 4px #224585, 2px 2px 12px #000000;
}

.p_textblock {
    left: 50%;
    margin-left: 70px;
    position: absolute;
    top: 200px;
    width: 400px;
}

#p3_gallery1, #stats
{
    background-color: rgba(0, 0, 0, 0.5);
    height: 525px;
    left: 50%;
    margin-left: -400px;
    margin-top: 20px;
    position: relative;
    width: 795px;
    z-index: 10;
}
#stats
{
    margin-top:0.5em;
    left: 60%;
    
}
	
.gallery_pic
{
      left: 50%;
      margin-left: -400px;
      position: absolute;
	  background-color: rgba(0, 0, 0, 0.5);
      height: auto;
      width: 100%;
	  z-index: 10;
}

.gallery_stat {
    background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , blue); /* Standard syntax */
    border-color: #404040;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 10px #000000;
    color: #ffffff;
    height: 5px;
    position: relative;
    width: 5px;
    z-index: 100;
}

#fslogo
{
      position: relative;
	  width: 100%;
	  z-index: 99;
	  margin-top: -50%;
}

#left_arrow 
{
      left: -10%;
      position: absolute;
	  height: 80px;
      width: 80px;
	  z-index: 20;
	  margin-top: 200px;
}

#right_arrow 
{
      right: -10%;
      position: absolute;
      height: 80px;
      width: 80px;
	  z-index: 20;
	  margin-top: 200px;
}

#notes_image {
    height: 300px;
    left: 50%;
    margin-left: 30%;
    top: 40px;
    width: 700px;
     padding: 20px;
}
